
.navbar{
    background: black !important;
    text-decoration: none; 
}


.brand,.list_item{
    color: white;
    font-size: bold;
    font-size: 30px;
    
}

.list_item:hover{
    color: tomato !important;
}
.btn{
    background-color: tomato !important;
    border: none;
    border-radius: 30px;
}